<ion-split-pane #layout when="lg">

  <ion-menu [content]="content">

    <ion-header>
      <ion-toolbar color="light">
        <h1 class="app-title">Content Author</h1>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

      <!-- NEW POST -->

      <ion-item-group>
        <button ion-item (click)="newPost()">
          <ion-icon name="add-circle" [ngStyle]="{'color': '#32db64'}" item-left></ion-icon>
          New Post
        </button>
      </ion-item-group>

      <!-- SETTINGS -->

      <ion-item-group>
        <ion-item-divider color="light">Settings</ion-item-divider>

        <button ion-item *ngFor="let page of settingsPages" (click)="openPage(page)">
          <ion-icon name={{page.icon}} [ngStyle]="{'color': '#488aff'}" item-left></ion-icon>
          {{page.title}}
        </button>
      </ion-item-group>

      <!-- POSTS -->

      <ion-item-group>
        <ion-item-divider color="light">Posts</ion-item-divider>

        <button ion-item *ngFor="let post of posts" text-wrap (click)="previewPost(post)">
          <h2><strong>{{post.title}}</strong></h2>
          <div>
            <p>
           <span>
             <ion-icon name="contact" [ngStyle]="{'color': '#32db64'}"></ion-icon>
           </span>
              <span color="light" class="padding-top">Published a few days ago</span>
            </p>
          </div>
        </button>
      </ion-item-group>
    </ion-content>

  </ion-menu>

  <ion-nav main [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>
